.container{
background-color: rgb(32, 22, 88);
padding: 25px;
text-align: center;
}
.container2{
   background-color: rgb(152, 171, 238);
   padding: 2px;
   text-align: center;
   }
   .container3{
      background-color: rgb(73, 46, 135);
      padding: 2px;
      text-align: center; 
   }
   .container4{
      background-color: rgb(126, 150, 238);
      padding: 2px;
      text-align: center; 
   }
h1{
    text-align: center;
}
h3{
   text-align: left;
}

img {
    display: block;
    margin: auto;
    border: 5px solid darkblue;
    height: 250px;
    width: 250px;

  }
 body{
    background-color:rgb(242, 242, 242);
    font-family: fuente;
 } 
 
 iframe{
    width: 600;
    height: 450;
    font-style :border= 0;
    
 }
 @font-face{
   font-family: "fuente";
   src:url(LTSaeada-Bold.otf);
 }
 .box{
   width: 250px;
   right: 250px;
   background-image: url(imagenes/richard.jpg) ;
   background-size: cover;
   border-radius: 50%;
   margin: 0 auto;
   text-align: left;
 }